/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow {

  0% {
    inset-inline-start: -20px;
  }

  100% {
    inset-inline-start: -16px;
  }
}

.card__icon-button:hover .heart-filling {
  fill: var(--outline-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:hover .heart-center {
  fill: var(--outline-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .heart-filling {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .heart-center {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart-outline {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart-filling {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart-center {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.is-liked .heart {
  animation: like-scale .3s ease-in .1s alternate;
}

.is-liked .heart-dots {
  animation: heart-dots .3s ease-in .3s alternate;
}

@keyframes heart-dots {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.heart-dots {
  opacity: 0;
  fill: var(--heart-color);
}

.heart-filling {
  fill: var(--background-color);
  transition: fill .3s linear;
}

.heart-center {
  fill: var(--background-color);
  transition: fill .3s linear .03s;
}

.heart-outline {
  fill: var(--outline-color);
  transition: fill 0.1s linear;
}

@keyframes like-scale {
  0% {
    transform: scale(1);
    transform-origin: 50% 50%;
  }

  100% {
    transform: scale(1.5);
    transform-origin: 50% 50%;
  }
}